*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("background.webp");
}

.todo-container{
    border: solid #E2DFD0 1px;
    padding: 20px;
    color: white;
    position: fixed;
    border-radius: 16px;
    background: transparent;
    width: 80%;
    max-width: 700px;
    box-shadow: 0px 4px 15px rgba(113, 115, 119, 0.5);
}

.todo-input{
    display: flex;
}

input{
    width: 100%;
    border: solid white 0.5px;
    padding: 12px;
    margin: 12px 12px 12px 0px;
    background: transparent;
    font-size: 20px;
    color: #ffffff;
    box-shadow: 0px 4px 15px rgba(113, 115, 119, 0.5);
    border-radius: 16px;
    cursor: pointer;
}

.todo-sort{
    display: flex;
}

.options{
    width: 40%;
    max-width: 100px;
    height: 50px;
    align-self: center;
    border-radius: 16px;
    background: transparent;
    color: #E2DFD0;
    margin-right: 30px;
    font-size: 20px;
}

.border:hover{
    border: 1.5px solid white;
}

.task-list{
    width: 100%;
    border: 1.5px solid white;
    border-radius: 8px;
    margin: 10px 10px 10px 0px;
    display: flex;
    padding: 10px 0px 10px 10px;
    justify-content: space-between;
    font-size: 20px;
}

.task-btns{
    display: flex;
}
.task-btn{
    margin: 5px;
    padding: 2px;
    color: white;
    font-size: 31px;
    border-radius: 50%;
}

.task-btn:hover{
    color: green;
    background: white;
}

.cross-btn:hover{
    color: red;
    background-color: white;
}